---
import PagePlate from "@layouts/PagePlate.astro";
import { pathTranslatorQ, textTranslatorQ } from "src/i18/utils";
const t = pathTranslatorQ(Astro.url);
const l = textTranslatorQ(Astro.url);
---

<PagePlate title={l("404.title")}>
  <main class="flex flex-col items-center justify-center h-screen text-center">
    <h1 class="text-4xl font-bold mb-4">{l("404.title")}</h1>
    <p class="text-lg mb-6">{l("404.subtitle")}</p>
    <a href={t("/")} class="btn btn-primary">{l("404.button")}</a>
  </main>
</PagePlate>