---
import SearchQueryForm from "@components/Interactive/SearchQueryForm.astro";
import Navbar from "./Navbar.astro";
import SearchQueryFormMobile from "@components/Interactive/SearchQueryFormMobile.astro";

---

<Navbar>
  <Fragment slot="additional-elements">
    <section class="sm:flex hidden justify-center w-full">
      <SearchQueryForm class="basis-250 my-5" />
    </section>
    <section  class="sm:hidden">
      <SearchQueryFormMobile />
    </section>
  </Fragment>
</Navbar>