---
import { textTranslatorQ } from "src/i18/utils"
const l = textTranslatorQ(Astro.url);
---


<main class="space-y-6">
  <h1 class="text-3xl font-bold">{ l("about.title") }</h1>

  <p class="text-base text-gray-200">
    { l("about.subtitle") }
  </p>

  <section class="space-y-4">
    <h2 class="text-xl font-semibold">{ l("about.title2") }</h2>
    <p class="text-sm text-gray-200">
      { l("about.subtitle2") }
    </p>

    <h2 class="text-xl font-semibold">{ l("about.title3") }</h2>
    <ul class="list-disc list-inside text-sm text-gray-200 space-y-1">
      <li>{ l("about.subtitle3.1") }</li>
      <li>{ l("about.subtitle3.2") }</li>
      <li>{ l("about.subtitle3.3") }</li>
    </ul>
  </section>

  <p class="text-sm text-gray-500">{ l("about.join-us") }</p>
</main>
