---
import { textTranslatorQ } from "src/i18/utils"
const l = textTranslatorQ (Astro.url);
---
<main class=" space-y-8">
  <h1 class="text-3xl font-bold">{ `Frequently Asked Questions` }</h1>

  <div class="space-y-4">
    {[
      { q: l("faq.q1"), a: l("faq.a1") } as const,
      { q: l("faq.q2"), a: l("faq.a2") } as const,
      { q: l("faq.q3"), a: l("faq.a3") } as const
    ].map(({ q, a }) => (
      <details class="bg-slate-900 rounded-lg cursor-pointer open:shadow">
        <summary class="font-bold text-sm select-none px-4 pt-4 mb-4 w-full">
          { q }
        </summary>
        <p class="text-sm text-gray-300 px-4 pb-4 mt-4">{ a }</p>
      </details>
    ))}
  </div>
</main>

