

<template id="notif-pop-content-template">
<div class="w-96 rounded px-5 py-3 bg-slate-800 border-(--color-primary) shadow shadow-gray-100/25">
  <div class="flex justify-end">
    <button id="notif-close" class=" hover:scale-110 cursor-pointer">✖</button>
  </div>
  <div id="notif-title" class="text-lg font-semibold">

  </div>
  <div>
    <p id="notif-message">

    </p>
  </div>

</div>
</template>