---
import { pathTranslatorQ, textTranslatorQ } from "src/i18/utils";

const t = pathTranslatorQ(Astro.url);
const l = textTranslatorQ(Astro.url);
---

<footer class="bg-slate-900 py-12" itemscope itemtype="https://schema.org/WPFooter">
  <div class="container mx-auto px-4 sm:px-6">
    <div class="flex flex-wrap gap-6 mb-4">
      <a href={t("/information/faq")} class="btn-outline btn-sm">FAQ</a>
      <a href={t("/information/about-us")} class="btn-outline btn-sm">About</a>
      <a href={t("/legal/cookie-policy")} class="btn-outline btn-sm">Cookie Policy</a>
    </div>

    <p class=" mb-2" set:html={l("footer.title")}>
      
    </p>
    <p class="">
      {l("footer.subtitle")}
    </p>
  </div>
</footer>
