---
import ComicSearch from "@components/ComicComponent/ComicSearch.astro";
import Listing from "@components/ComicComponent/Listing.astro";
import { textTranslatorQ } from "src/i18/utils";
import type { COMIC_CONCISE_DATA } from "src/structure/comicCollector";
import { getPage } from "src/utilities/Api";
const l = textTranslatorQ(Astro.url);

const page = getPage(Astro.url)

// const { data, error} = await Astro.callAction( actions.comic.list,  page);

// const comics: COMIC_CONCISE_DATA[] = data?.data || [];
// const pagination: number[] = data?.pagination || [];

const comics: COMIC_CONCISE_DATA[] = [];
const pagination: number[] = [1];


---

<main class="mb-20 mt-5">
  <div class="mb-5">
    <h1 class="h8">
      {l("home.title")}
    </h1>
    <p>
      <small>{l("home.subtitle")}</small>
    </p>
  </div>
  <ComicSearch />
  <div class="my-10"></div>
  <Listing pagination={pagination} comics={comics} />
</main>